article, h1, h2, h3 {
  width: 700px;
  font-family: 'Circe';
  margin: auto;
  font-size: 20px;
  line-height: 34px;
}

h1 {
  font-family: 'ReformaGrotesk69';
  font-size: 130px;
  font-variant-caps: all-small-caps;
  margin-top: 120px;
  margin-bottom: 80px;
  line-height: 92px;
}

h2 {
  font-family: 'CirceBold';
  font-size: 50px;
  margin-top: 120px;
  margin-bottom: 50px;
}

h3 {
  font-family: 'CirceBold';
  font-size: 26px;
  margin-top: 50px;
  margin-bottom: 30px;
}

p + p {
  margin-top: 20px;
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
}

strong {
  font-family: 'CirceBold';
}

ul {
  font-size: 20px;
  line-height: 34px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 22px;
  list-style-type: none;
}

li {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 20px;
  margin-left: 22px;
  list-style-type: none;
}

ul {
      list-style: none;
      margin: 0
    }
ul li{
       position: relative;
      }
ul li:before {
        content:  "—";
        position: absolute;
        left:-26px;
    }

img {
  margin-top: 20px;
  margin-bottom: 40px;
  width: 100%;
}
