@font-face {
  font-family: "DINPro";
  src: url(../fonts/DINPro.otf);
}

@font-face {
  font-family: "DINPro-Light";
  src: url(../fonts/DINPro-Light.otf);
}

@font-face {
  font-family: "DINPro-Medium";
  src: url(../fonts/DINPro-Medium.otf);
}

@font-face {
  font-family: "ReformaGrotesk69";
  src: url(../fonts/ReformaGrotesk69.otf);
}

@font-face {
  font-family: "ReformaGrotesk49";
  src: url(../fonts/ReformaGrotesk49.otf);
}
